$yellow: rgb(249, 235, 49); 
$white:rgb(157, 140, 177);

//titleFont: Arial, Helvetica, sans-serf;

@mixin buttonStyle($color, $fontSize) {
    width: 50px;
    height: 40px;
    border: none;
    background-color: $color;
    font-size: $fontSize;
    border-radius: 9px;
    color: $yellow;
}