.nav-div{
  height: 10px;
  background-color: rgb(88, 93, 244);
  padding: 40px;
}
nav{
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 1vh;
  background-color: rgb(221, 97, 188);
  color:white;
}
.nav-links {
  width:50%;
  display:flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}


.form {
 display: grid;
 grid-template: 40px 40px /1fr 1fr ;
 gap: 17px
}
.form--button {
 grid-column: 3 / -3;
}
input,textarea {
 margin-bottom: 15px;
 height: 30px;
 text-indent: 10px;
 border: 1px solid #444;
 border-radius: 5px;
 display: block;
}

.loginPage{
  background-color:  rgb(88, 101, 244);
  margin: 0 auto;

  margin-top: px;
  width: 500px; 
  height:650px; 
  text-align: center; 
}
 